# path: /etc/systemd/system/camilladsp.service
[Unit]
Description=CamillaDSP Daemon
After=syslog.target
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/camilladsp -s /home/pi/camilladsp/statefile.yml -o /home/pi/camilladsp/camilladsp.log -l error -p 1234
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=camilladsp
User=pi
Group=pi
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
#WantedBy=graphical.target
WantedBy=multi-user.target
