Package: mountdrive
Version: 0.0.2
Architecture: all
Maintainer: StillNotWorking
Depends: bash,util-linux
Installed-Size: 6.803
Homepage: https://github.com/StillNotWorking/LMS-helper-script
Description: Let user easily add USB storage devices to RPi-OS (Debian) by listing detected devices and configure fstab for item selected by user.
 Easely add USB storage devices to RPi-OS (Debian)
 |
 WARNING - mountdrive do not attempt to be portable
 verified platform is RPi-OS Lite 32-bit (Bullseye)
 passed https://www.shellcheck.net/
 |
 List storage devices from 'blkid' exluding devices with PARTUUID
 or UUID already configured in 'fstab'. For user then to select
 single partition from list to mount with automatically added 
 entry to 'fstab' before 'mount -a' are executed and partition
 is immediately accessible. Partition are automatecly mounted
 at next boot.
 |
 Option to create relative symlink to newly mounted partition
 in user's home directory.
 Option to create alias to command 'cd [mount point] && ls -l'
