# path: /etc/systemd/system/volumelms2cdsp.service
[Unit]
Description=Forward LMS volume changes to CamillaDSP backend
After=syslog.target
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
Type=simple
ExecStart=/usr/bin/volumelms2cdsp 00:00:00:00:00:00 127.0.0.1 9090 1234
Restart=always
RestartSec=1
StandardOutput=journal
StandardError=journal
SyslogIdentifier=volumelms2cdsp
User=root
Group=root
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
#WantedBy=graphical.target
WantedBy=multi-user.target
